<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{animal.name}}</ion-title>
    <auth></auth>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img *ngIf="animalUrl" src="{{animalUrl}}"/>
  <h3>Nom : {{animal.name}}</h3>
  <p>Age : {{getAge(animal.birthYear)}} an(s)</p>
  <p><span class="label">Espèce : </span><specie-summary *ngIf="animalUrl" [id]="animal.specieId"></specie-summary></p>
  <div class="sibling" *ngIf="siblings.length > 0">
    <p>Mes frères et soeurs :</p>
    <animal-summary *ngFor="let sibling of siblings"
                    [id]="sibling.id">
    </animal-summary>
  </div>
  <div class="pictures" *ngIf="pictures.length > 0">
    <h2>Mes photos</h2>
    <div class="item" ion-item *ngFor="let pic of pictures" >
      <picture [picture]="pic"></picture>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Chargement en cours..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
