<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fil d'actualités</ion-title>
    <auth></auth>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="item" ion-item *ngFor="let pic of pictures" >
    <picture-likable [id]="pic.id"></picture-likable>
    <div class="infos">
      <span class="infos">{{pic.title}} - {{pic.creationDate | date:'shortDate'}} - <picture-liked [liked]="pic.liked" [id]="pic.id"></picture-liked></span>
      <div class="animals" *ngIf="pic.animalIds.length > 0">
          <animal-summary *ngFor="let animalId of pic.animalIds"
                [id]="animalId">
          </animal-summary>
      </div>
      <div class="species" *ngIf="pic.speciesIds.length > 0">
          <specie-summary *ngFor="let specieId of pic.speciesIds"
                          [id]="specieId">
          </specie-summary>
      </div>
    </div>
  </div>
</ion-content>
