page-species {

}
.plus {
  margin-left: 5px;
}
.img {
  max-height:200px;
}
.pictures .item {
  padding: 0 !important;
}
.pictures .item .label-md {
  margin-right: 0 !important;
}
.pictures .item .item-inner {
  padding-right: 0 !important;
}

