<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Les espèces du Parc</ion-title>
    <auth></auth>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button class="item" ion-item *ngFor="let specie of species" (click)="goToDetails(specie)">
      <div class="thumbnail">
        <img src="{{baseUrl}}/common/specie/{{specie.id}}/preview?format=THUMB" />
      </div>
      <div class="infos">
        <span class="name">{{specie.name}}</span>
        <span class="description">{{specie.description}}</span>
      </div>
      <ion-icon class="type" color="secondary" name="bug" *ngIf="specie.type == 'bete'"></ion-icon>
      <ion-icon class="type" color="danger" name="car" *ngIf="specie.type == 'voiture'"></ion-icon>
      <ion-icon class="type" color="primary" name="walk" *ngIf="specie.type == 'pied'"></ion-icon>
    </button>
  </ion-list>
</ion-content>
